* {
    box-sizing: border-box;
}

table {
    text-align: center;
    border: 3px solid black;
    border-collapse: collapse;
  }

th, td { 
    border: 2px solid black;
    padding: 5px 5px;
    min-width: 100px;
    font-size: medium;
}

thead, tbody {
    border: 2px solid black;
}

#form-container {
    display: inline-flex;
    margin-top: 20px;
    margin-right: 50px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    border: 1px solid black;
}

input, label, select {
    margin: 5px;
}

#form-container legend {
    padding-bottom: 10px;
}

td button {
    margin-top: 0;
}

button {
    margin-top: 25px;
}

.btn {
    margin-top: 25px;
}