<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Ball</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <h1>Data Ball</h1>

    <nav>
        <a href="/">Home</a> | <a href="/seasons">Seasons</a> | <a href="/players">Players</a> | <a href="/teams">Teams</a> | <a href="/games">Games</a> | <a href="/player_stats_per_game">Player Stats Per Game</a> | <a href="/player_stats_per_season">Player Stats Per Season</a> | <a href="/team_stats_per_season">Team Stats Per Season</a>
    </nav>
    
    <h2>Player Stats Per Game</h2>

    <!-- Table displaying the Player Stats Per Game entity -->
    <table>
        <thead>
            <tr>
                <th>Delete</th>
                <!-- Iterate through each key in the first entry to get the column name -->
                {% for key in player_stats_data[0].keys() %}
                
                <!-- Create a <th> tag with the key inside of it -->
                <th>{{ key }}</th>

                {% endfor %}
            </tr>
        </thead>
    
        <tbody>
            <!-- Iterate through every entry in Player_Stats_Per_Game -->
            {% for stat_line in player_stats_data %}
            <tr>
                <td><button type="button" class="table_button">Delete</button></td>
                <!-- Iterate through every key in the current stat_line dictionary -->
                {% for key in stat_line.keys() %}

                <!-- Create a <td> element with the value of that key in it -->
                <td>{{ stat_line[key] }}</td>

                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Form to add a player's stats per game -->
    <div id="form-container">
        <form method="POST" action="/player_stats_per_game" id="add-player-stats-per-game">
            <legend><strong>Add Player Stats Per Game</strong></legend>
            <label for="player_id">Player: </label>
            <select name="player_id" id="player_id" required>
                <!-- Iterate through each dictionary in the player_data -->
                {% for dict in player_data %}

                <!-- This maps player_id to the name displayed in the drop down. The value sent back is player_id -->
                <option value="{{ dict['player_id'] }}">{{ dict['name'] }}</option>

                 {% endfor %}
            </select>
            <br>
            <label for="game_id">Game Date: </label>
            <select name="game_id" id="game_id" required>
                <!-- This maps game_id to game date so the user only has to select the date but the value being sent back to the server will be the game_id. -->
                {% for dict in game_data %}

                <option value="{{ dict['game_id'] }}">{{ dict['game_date'] }}</option>

                {% endfor %}
            </select>
            <br>
            <label for="minutes_per_game">Minutes Per Game: </label>
            <input id="minutes_per_game" type="number" name="minutes_per_game" step="0.01" min="0" required>
            <br>
            <label for="field_goal_percentage">Field Goal Percentage: </label>
            <input id="field_goal_percentage" type="number" name="field_goal_percentage" step="0.01" min="0" required>
            <br>
            <label for="three_point_percentage">Three Point Percentage: </label>
            <input id="three_point_percentage" type="number" name="three_point_percentage" step="0.01" min="0" required>
            <br>
            <label for="two_point_percentage">Two Point Percentage: </label>
            <input id="two_point_percentage" type="number" name="two_point_percentage" step="0.01" min="0" required>
            <br>
            <label for="free_throw_percentage">Free Throw Percentage: </label>
            <input id="free_throw_percentage" type="number" name="free_throw_percentage" step="0.01" min="0" required>
            <br>
            <label for="rebounds">Rebound Count: </label>
            <input id="rebounds" type="number" name="rebounds" required>
            <br>
            <label for="assists">Assist Count: </label>
            <input id="assists" type="number" name="assists" required>
            <br>
            <label for="steals">Steal Count: </label>
            <input id="steals" type="number" name="steals" required>
            <br>
            <label for="blocks">Block Count: </label>
            <input id="blocks" type="number" name="blocks" required>
            <br>
            <label for="win">Win: </label>
            <input id="win" type="number" name="win" required>
            <br>
            <input type="submit" value="Add Player Stats" name="Add_Player_Stats" class="btn"">
        </form>
    </div>

    <!-- Form to update a player's stats per game -->
    <div id="form-container">
        <form method="PUT" id="update-player-stats-per-game">
            <!-- These form inputs eventually need to populate based on which player is selected, for now they show all of the Player Stats Per Game info for Luka Doncic as an example -->
            <legend><strong>Update Player Stats Per Game</strong></legend>
            <label for="player">Player: </label>
            <select name="player" id="player" required>
                <!-- This maps player_id to player name so the user only has to select the name but the value being sent back to the server will be the ID -->
                <option value="0">&nbsp;</option>
                <option value="1" selected>Luka Doncic</option>
                <option value="2">Lebron James</option>
                <option value="3">Kevin Durant</option>
                <option value="4">Giannis Antetokounmpo</option>
            </select>
            <br>
            <label for="game_date">Game Date: </label>
            <select name="game" id="game_date">
                <!-- This maps game_id to game date so the user only has to select the date but the value being sent back to the server will be the ID. This value can be empty (NULL) to meet assignment requirements -->
                <option value="0">&nbsp;</option>
                <option value="1" selected>2021-02-01</option>
                <option value="2">2021-03-03</option>
                <option value="3">2021-03-04</option>
                <option value="4">2022-04-04</option>
            </select>
            <br>
            <label for="minutes_per_game">Minutes Per Game: </label>
            <input id="minutes_per_game" type="number" name="minutes_per_game" value="40.00" required>
            <br>
            <label for="field_goal_percentage">Field Goal Percentage: </label>
            <input id="field_goal_percentage" type="number" name="field_goal_percentage" value="0.45" required>
            <br>
            <label for="three_point_percentage">Three Point Percentage: </label>
            <input id="three_point_percentage" type="number" name="three_point_percentage" value="0.54" required>
            <br>
            <label for="two_point_percentage">Two Point Percentage: </label>
            <input id="two_point_percentage" type="number" name="two_point_percentage" value="0.74" required>
            <br>
            <label for="free_throw_percentage">Free Throw Percentage: </label>
            <input id="free_throw_percentage" type="number" name="free_throw_percentage" value="0.64" required>
            <br>
            <label for="rebounds">Rebound Count: </label>
            <input id="rebounds" type="number" name="rebounds" value="1" required>
            <br>
            <label for="assists">Assist Count: </label>
            <input id="assists" type="number" name="assists" value="17" required>
            <br>
            <label for="steals">Steal Count: </label>
            <input id="steals" type="number" name="steals" value="6" required>
            <br>
            <label for="blocks">Block Count: </label>
            <input id="blocks" type="number" name="blocks" value="0" required>
            <br>
            <label for="win">Win: </label>
            <input id="win" type="number" name="win" value="1" required>
            <br>
            <button type="submit">Update Player Stats</button>
            <!-- <button type="button">Cancel</button> -->
        </form>
    </div>
</body>
</html>